<!DOCTYPE html>
<html>
<head>
</head>
<body style="text-align: center">
    <div>
        <h1 style="text-align: center; text-decoration: underline; font-style: italic;">Your Quote:</h1>
        <div style="margin: auto; background-color: #f7f7f7; border-radius: 50px; padding: 40px; max-width:500px;">
            <p style="font-size: 20px; font-style: italic;">{quote}</p>
            <p style="margin-top: 10px;">- {author}</p>
        </div>
        <div>
            <p>Automated, daily quote emailer.</p>
            <p style="font-size: 10px;">Will McIntyre | <a href="https://github.com/will-mcintyre04/quote-emailer">Code</a></p>
        </div>
    </div>
</body>
</html>