<!DOCTYPE html>
<html>
<head>
</head>
<body style="text-align: center;">
    <div>
        <h1 style="text-align: center; text-decoration: underline; font-style: italic;">Your Quote:</h1>
        <div style="margin: auto; border-radius: 50px; background-color: #f7f7f7; padding: 40px; max-width:500px;">
            <p style="font-size: 20px; font-style: italic;">{quote}</p>
            <p style="margin-top: 10px;">- {author}</p>
        </div>
        <div>
            <a href="http://willymac.pythonanywhere.com/">
                <img src="https://github.com/will-mcintyre04/flask-practice/assets/78566536/2aa7439b-19c7-49b9-aedf-89497e9acf96" alt="Logo" style="width: 100px; border-radius: 10px; margin-top: 20px; margin-bottom: 0px; margin-left: auto;">
            </a>
            <p style="font-size: 8px; margin-top: 0px;">Will McIntyre | <a href="https://github.com/will-mcintyre04/mindfuel">Code</a> | <a href={link}>Unsubscribe</a></p>
        </div>
    </div>
</body>
</html>